<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Login</title>
</head>
<body>
	<h3>User Login</h3>

    <form action="/validateUser" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/><br>

        <button type="submit">Login</button>
    </form>

    <p>
        <a href="/user">Click here to register</a>
    </p>
	<p th:text="${message}"></p>
</body>
</html>
